{% extends 'base.html.twig' %}
{% block title %}FeedBack ✔ {% endblock %}


{% block stylesheets  %}
    {{ parent() }}

{% endblock %}
{% block body %}
{{ parent() }}
    <section id="fourth" class="main">
    
    
        <header>
            <div class="container">
                <h2>
                    Your Feedback is Important to Us
                </h2>
                <p>
                    We constantly seek feedback to improve and evolve our website.
                    To help us achieve this, please send us a message and give us your comments.
                </p>
            </div>
        </header>
        <div class="content style4 featured">
            <div class="container medium">
                <form method="post" action="#">
                    <div class="row gtr-50">
                        <div class="col-6 col-12-mobile">
                            <input type="text" placeholder="Name"/>
                        </div>
                        <div class="col-6 col-12-mobile">
                            <input type="text" placeholder="Email"/>
                        </div>
                        <div class="col-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions special">
                                <li>
                                    <input type="submit" class="button" value="Send Message"/>
                                </li>
                                <li>
                                    <input type="reset" class="button alt" value="Clear Form"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
 
    </section>
    <section id ="commentaires">
        {% for comment in User.getComments %}
            <div class="comment">
                <div class="=row">
                    <div class="col-3">
                        {{ comment.author }} (<small>{{ comment.createdAt/date ('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}
