{% extends 'base.html.twig' %}

{% block title %} Your Personnality {% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/template/styles.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/template/main.css') }}"/>

{% endblock %}
{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
<body class="is-preload">
<!-- Header section -->
<section id="head" class="dark">
    <!-- nav bar section -->
    <? php include_once 'fragments/navbar.php'  ?>
    <header>
        <h1>Type two</h1>
    </header>
    <footer>
        <a href="#first" class="button scrolly">Discover</a>
    </footer>
</section>
<!-- First -->
<section id="first" class="main">
    <header>
        <div class="container">
            <h2>What is an Enneagram Type 2 (The Helper)?</h2>
            <p>
                People with an Enneagram Type 2 personality tend to be generous, altruistic, and empathetic in their
                behavior.
                They are hardworking
                and motivated people with a drive to connect with the world. </br>
                They love attending to other people and feeling helpful.
            </p>
        </div>
    </header>
    <div class="content dark style1 featured">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                <span class="feature-icon"
                ><span class="icon fa-clock"></span
                    ></span>
                        <header>
                            <h3>Growth</h3>
                        </header>
                        <p class="growth">
                            Growth opportunities that are typically associated with the Enneagram 2 personality
                            include ...
                            Remembering to attend to their own personal needs
                            Learning to accept help from other people
                            Recognizing that their value lies beyond what they can offer others
                            Acknowledging and work through negative emotions, rather than avoiding them

                        </p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                <span class="feature-icon"
                ><span class="icon solid fa-bolt"></span
                    ></span>
                        <header>
                            <h3>Strengths</h3>
                        </header>
                        <p class="strength">
                            Strengths that are typically associated with the Enneagram 2 personality include...
                            Supporting and encouraging those around them
                            Ability to naturally recognize the needs of others
                            Warm, loving, positive attitude
                            Persistence and dedication to the tasks at hand
                            Drive to get to know other people

                        </p>
                    </section>
                </div>
                <div class="col-4 col-12-narrow">
                    <section>
                <span class="feature-icon"
                ><span class="icon solid fa-cloud"></span
                    ></span>
                        <header>
                            <h3>Weaknesses</h3>
                        </header>
                        <p class="weaknesses">
                            Weaknesses that are typically associated with the Enneagram 2 personality include...
                            Seeking and needing approval from others
                            Being perceived as overbearing at times
                            Difficulty recognizing and acknowledging their own needs
                            Disliking or being easily offended by criticism
                        </p>
                    </section>
                </div>
                <div class="col-12">
                    <footer>
                        <a href="#second" class="button scrolly"
                        >Learn more</a
                        >
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Second -->
<section id="second" class="main">
    <header>
        <div class="container">
            <h2>Enneagram 2 Personality Traits</h2>
            <p>
                Enneagram 2 personalities tend to...</br>
                Easily perceive and understand the needs of others</br>
                Seek acceptance and love from people</br>
                Attend to the needs of those around them</br>
                Repress their own negative emotions</br>
                Fear being unwanted or disliked
            </p>
        </div>
    </header>
    <div class="content dark style2">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <section>
                        <h3>Enneagram 2 Careers</h3>
                        <p class="career1">
                            Type Twos tend to thrive in environments that allow them to make new friends and help
                            others.
                            They enjoy building strong, working relationships and using their skills and abilities to
                            serve those around them
                        </p>
                        <p class="career2">
                            Enneagram 2s feel energized at work when...
                            They are asked to help someone with a personal problem.
                            Their boss appreciates their hard work.
                            Their peers listen to and affirm them.
                            Their direct reports do something nice without being asked.

                        </p>
                        <p class="career3">
                            Enneagram 2s feel drained at work when...
                            They are ignored or criticized frequently.
                            Their boss neglects to value their effort.
                            Their peers are cold and unwelcoming.
                            Their direct reports dislike them.

                        </p>
                        <footer>
                            <a href="#third" class="button scrolly"
                            >Learn more</a
                            >
                        </footer>
                    </section>
                </div>
                <div class="col-8 col-12-narrow">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" class="image fit"
                            ><img src="{{ asset('images/portrait-1.jpg') }}"
                                /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"
                            ><img src="{{ asset('images/portrait-2.jpg') }}" alt=""
                                /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"
                            ><img src="{{ asset('images/portrait-3.jpg') }}" alt=""
                                /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"
                            ><img src="{{ asset('images/portrait-1.jpg') }}" alt=""
                                /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"
                            ><img src="{{ asset('images/portrait-1.jpg.jpg') }}" alt=""
                                /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"
                            ><img src="{{ asset('images/portrait-5.jpg') }}" alt=""
                                /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Third -->
<section id="third" class="main">
    <header>
        <div class="container">
            <h2>Enneagram 2 Relationships (Professional)</h2>
            <p class="pro">
                When type Twos work alongside others who are driven and focused, they make great supportive, attentive
                colleagues.
                If they work with another type Two,
                there needs to be a clear, recognized division of responsibilities, to avoid overwhelming them.
            </p>
            <h2>Enneagram 2 Relationships (Romantic)</h2>
            <p class="romantic">
                Type Twos can be healthy, attentive, caring partners when with someone who reminds them to take time for
                themselves.
                When in a relationship with someone who is less focused on others,
                they should be careful to communicate their need for appreciation and acts of service.
            </p>
        </div>
    </header>
    <div class="content dark style3">
        <div class="container">
          <span class="image featured"
          ><img src="{{ asset('images/portrait-3.jpg') }}" alt=""
              /></span>
            <div class="row">
                <div class="col-4 col-12-narrow">
                    <h3>Type Two Overview</h3>
                    <p class="overview1">
                        We have named personality type Two The Helper because people of this type are either the most
                        genuinely helpful to other people or, when they are less healthy they are the most highly
                        invested in
                        seeing themselves as helpful. Being generous and going out of their way for others makes Twos
                        feel that theirs
                        is the richest, most meaningful way to live. The love and concern they feel—and the genuine good
                        they do—warms
                        their hearts and makes them feel worthwhile. Twos are most interested
                        in what they feel to be the “really, really good” things in life—love, closeness, sharing,
                        family, and friendship.
                    </p>
                    <p class="overview2">
                        When Twos are healthy and in balance, they really are loving, helpful, generous, and
                        considerate. People are drawn to them like bees to honey. Healthy Twos warm others in the glow
                        of their hearts. They enliven others with their appreciation and attention, helping people to
                        see positive qualities in themselves that they had not previously recognized. In short, healthy
                        Twos are the embodiment of “the good parent” that everyone wishes they had: someone who sees
                        them as they are, understands them with immense compassion, helps and encourages with infinite
                        patience, and is always willing to lend a hand—while knowing precisely how and when to let go.
                        Healthy
                        Twos open our hearts because theirs are already so open and they show us the way to be more
                        deeply and richly human.
                    </p>
                </div>
                <div class="col-4 col-12-narrow">
                    <p>
                        However, Twos’ inner development may be limited by their “shadow side”—pride, self-deception,
                        the tendency to become over-involved in the lives of others, and the tendency to manipulate
                        others to get their own emotional needs met. Transformational work entails going into dark
                        places in ourselves, and this very much goes against the grain of the Two’s personality
                        structure,
                        which prefers to see itself in only the most positive, glowing terms.
                    </p>
                    <p>
                        Perhaps the biggest obstacle facing Twos, Threes, and Fours in their inner work is having to
                        face their
                        underlying Center fear of worthlessness. Beneath the surface, all three types fear that they are
                        without
                        value in themselves, and so they must be or do something extraordinary in order to win love and
                        acceptance
                        from others. In the average to unhealthy Levels, Twos present a false image of being completely
                        generous and
                        unselfish and of not wanting any kind of pay-off for themselves,
                        when in fact, they can have enormous expectations and unacknowledged emotional needs.
                    </p>
                    <p>
                        Average to unhealthy Twos seek validation of their worth by obeying their superego’s demands to
                        sacrifice
                        themselves for others. They believe they must always put others first and be loving and
                        unselfish if they want to get love. The problem is that “putting others first” makes Twos
                        secretly angry and resentful, feelings they work hard to repress or deny. Nevertheless, they
                        eventually erupt in various ways, disrupting Twos’ relationships and revealing the
                        inauthenticity
                        of many of the average to unhealthy Two’s claims about themselves and the depth of their “love.”
                    </p>
                </div>
                <div class="col-4 col-12-narrow">
                    <p>
                        But in the healthy range, the picture is completely different. My own (Don's) maternal
                        grandmother was an archetypal Two. During World War II, she was “Moms” to what seemed like half
                        of Keesler Air Force Base in Biloxi, Mississippi, feeding the boys, allowing her home to be used
                        as
                        a “home away from home,” giving advice and consolation to anyone lonely or fearful about going
                        to war
                    </p>
                    <p>
                        Although she and her husband were not wealthy and had two teenage children of their own, she
                        cooked extra meals
                        for the servicemen, put them up at night, and saw to it that their uniforms had all of their
                        buttons and were well pressed. She lived until her 80’s, remembering those years as the happiest
                        and most fulfilling of her life—probably because her healthy Two capacities were so fully and
                        richly engaged.
                    </p>
                    <footer>
                        <a href="#fourth" class="button scrolly"
                        >Give us Your feedback</a
                        >
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fourth" class="main">
    <header>
        <div class="container">
            <h2>
                Your Feedback is Important to Us
            </h2>
            <p>
                We constantly seek feedback to improve and evolve our website.
                To help us achieve this, please send us a message and give us your comments.
            </p>
        </div>
    </header>
    <div class="content style4 featured">
        <div class="container medium">
            <form method="post" action="#">
                <div class="row gtr-50">
                    <div class="col-6 col-12-mobile">
                        <input type="text" placeholder="Name"/>
                    </div>
                    <div class="col-6 col-12-mobile">
                        <input type="text" placeholder="Email"/>
                    </div>
                    <div class="col-12">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12">
                        <ul class="actions special">
                            <li>
                                <input type="submit" class="button" value="Send Message"/>
                            </li>
                            <li>
                                <input type="reset" class="button alt" value="Clear Form"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% block footer %}
    {{ parent() }}
{% endblock %}
</body>
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/template/breakpoints.min.js') }}"></script>
    <script src="{{ asset('js/template/browser.min.js') }}"></script>
    <script src="{{ asset('js/template/jquery.min.js') }}"></script>
    <script src="{{ asset('js/template/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('js/template/main.js') }}"></script>
    <script src="{{ asset('js/template/util.js') }}"></script>
    <script src="{{ asset('js/template/personality.js') }}"></script>
    <script src="{{ asset('js/template/templateGenerator.js') }}"></script>
{% endblock %}
{% endblock %}






