{% extends 'base.html.twig' %}


{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href={{ asset('css/homepage/styles.css') }}>
    <link rel="stylesheet" href={{ asset('css/homepage/stylesCarousel.css') }}>

{% endblock %}

{% block body %}

    {% block navbar %}
        {{ parent() }}
    {% endblock %}

<!-- Header section  -->
<section id="header">
    <div class="header-content row">
        <div class="col col-lg-6 col-sm-12 col-xs-12">
            <p>" Knowing yourself is the beginning of all wisdom. "</p>
            <h2 class="author-name">Aristotle</h2>
        </div>
    </div>
</section>
<section class="about">
    <div class="contentBx">
        <h2 class="heading"> About Us </h2>
        <p class ="text">
            The Enneagram’s structure may look complicated, although it is actually simple.
            It will help you understand the Enneagram if you sketch it yourself.

            Draw a circle and mark nine equidistant points on its circumference.
            Designate each point by a number from one to nine, with nine at the top, for symmetry and by convention.
            Each point represents one of the nine basic personality types.


        </p>
    </div>
</section>

<!-- Testimonials section  -->
<section id="testimonials">
    <section class="teams">
        <div class="max-width">
            <h2 class="title">Testimonials</h2>
            <div class="my-carousel owl-carousel">
                <div class="my-card">
                    <div class="my-box">
                        <img src="{{ asset('images/portrait-1.jpg') }}" alt="">
                        <div class="text">Someone name</div>
                        <div class="para" style="color:#22577A;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-box">
                        <img src="{{ asset('images/portrait-1.jpg') }}" alt="">
                        <div class="text">Someone name</div>
                        <div class="para" style="color:#22577A;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-box">
                        <img src="{{ asset('images/portrait-1.jpg') }}" alt="">
                        <div class="text">Someone name</div>
                        <div class="para" style="color:#22577A;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-box">
                        <img src="{{ asset('images/portrait-1.jpg') }}" alt="">
                        <div class="text">Someone name</div>
                        <div class="para" style="color:#22577A;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-box">
                        <img src="{{ asset('images/portrait-1.jpg') }}" alt="">
                        <div class="text">Someone name</div>
                        <div class="para" style="color:#22577A;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="symbole">

    <div class="enneargram">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1087 728" style="enable-background:new 0 0 1087 728;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#2174D8;}
    .st1{fill:#7F7F7F;}
    .st2{fill:#1FDD9E;}
    .st3{fill:#0E7F29;}
    .st4{fill:#17C617;}
    .st5{fill:#C4C42A;}
    .st6{fill:#E5A310;}
    .st7{fill:#E02828;}
    .st8{fill:#A0124C;}
    .st9{fill:#A01DDD;}
</style>
            <g id="enneagram-symbole">
                <g id="_x30_37---Enneagram">
                    <path id="Shape" d="M524,83c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256C779.8,197.7,665.3,83.2,524,83z
			 M664.2,441.4h-29l27.8-118l37.3,58L664.2,441.4z M710.5,397.4l28.2,44h-54.6L710.5,397.4z M654,458.5l-37.5,62.6l14.7-62.6H654z
			 M383.8,441.4l-36-60l37.3-58l27.8,118H383.8z M416.8,458.5l14.7,62.6L394,458.5H416.8z M363.9,441.4h-54.6l28.2-44L363.9,441.4z
			 M291.6,283.6l78.4-24l9.6,40.7L338,365.1l-47.1-78.5C291.2,285.6,291.4,284.6,291.6,283.6L291.6,283.6z M477.1,180.3l46.9-73
			l46.9,73L524,194.6L477.1,180.3z M494.9,203.6L454.2,216l13.4-20.8L494.9,203.6z M580.4,195.2l13.4,20.8l-40.7-12.5L580.4,195.2z
			 M619.1,223.7L597.4,190l85.6-26.2l-17.5,74.2L619.1,223.7z M661.6,254.6l-6.1,25.8L633.4,246L661.6,254.6z M587.8,175.1
			L540,100.7c47.2,3.1,92.4,20.3,129.8,49.2L587.8,175.1z M460.2,175.1l-82-25.2c37.4-29,82.6-46.1,129.8-49.3L460.2,175.1z
			 M450.6,190l-21.7,33.7l-46.5,14.2L365,163.8L450.6,190z M414.6,246l-22.1,34.4l-6.1-25.8L414.6,246z M397.9,303.5l41.9-65.2
			l84.2-25.8l84.2,25.8l41.9,65.2l-32.5,137.9H430.4L397.9,303.5z M668.4,300.4l9.6-40.7l78.4,24c0.2,1,0.5,2,0.7,3L710,365.2
			L668.4,300.4z M681.9,242.9l15.9-67.6c23.9,25.4,42,55.7,53,88.7L681.9,242.9z M350.2,175.3l15.9,67.6l-69,21.1
			C308.2,230.9,326.3,200.7,350.2,175.3z M286.6,312.5l41.2,68.6l-27.2,42.3C287.1,388.1,282.3,350.1,286.6,312.5L286.6,312.5z
			 M317.2,458.5h56.9l61.4,102.4C385.8,540.9,344.1,504.9,317.2,458.5L317.2,458.5z M460.5,569.3l-0.1-0.1l-26-110.7h179.2
			l-26,110.7l-0.1,0.1C545.9,580.8,502.1,580.8,460.5,569.3L460.5,569.3z M612.4,560.9l61.4-102.4h56.9
			C703.9,504.8,662.2,540.9,612.4,560.9z M747.5,423.4l-27.2-42.3l41.2-68.6C765.7,350.1,760.9,388.1,747.5,423.4L747.5,423.4z"/>
                </g>
            </g>
            <a href="{{path('the template',{'id': 0})}}"><g id="perfectioniste">
                <path class="st0" d="M715.5,130.3c0,2.3-0.7,4.1-2.2,5.3c-1.4,1.2-3.5,1.8-6.1,1.8h-1.9v7.6h-4.5v-21.4h6.8c2.6,0,4.6,0.6,5.9,1.7
		S715.5,128,715.5,130.3z M705.2,133.7h1.5c1.4,0,2.4-0.3,3.1-0.8s1-1.4,1-2.4c0-1.1-0.3-1.9-0.9-2.4s-1.5-0.8-2.7-0.8h-2.1V133.7z"
                />
                <path class="st0" d="M730.1,145h-12.3v-21.4h12.3v3.7h-7.8v4.7h7.3v3.7h-7.3v5.5h7.8V145z"/>
                <path class="st0" d="M737.3,136.8v8.2h-4.5v-21.4h6.2c2.9,0,5.1,0.5,6.5,1.6s2.1,2.7,2.1,4.8c0,1.3-0.3,2.4-1,3.4s-1.7,1.8-2.9,2.3
		c3.2,4.8,5.3,7.9,6.3,9.3h-5l-5.1-8.2H737.3z M737.3,133.1h1.5c1.4,0,2.5-0.2,3.2-0.7s1-1.2,1-2.3c0-1-0.3-1.7-1-2.2
		s-1.8-0.6-3.2-0.6h-1.4V133.1z"/>
                <path class="st0" d="M755.2,145h-4.5v-21.4H763v3.7h-7.8v5.5h7.3v3.7h-7.3V145z"/>
                <path class="st0" d="M777.7,145h-12.3v-21.4h12.3v3.7h-7.8v4.7h7.3v3.7h-7.3v5.5h7.8V145z"/>
                <path class="st0" d="M789.5,127.1c-1.7,0-3,0.6-4,1.9s-1.4,3.1-1.4,5.4c0,4.8,1.8,7.2,5.4,7.2c1.5,0,3.3-0.4,5.5-1.1v3.8
		c-1.8,0.7-3.7,1.1-5.9,1.1c-3.1,0-5.5-0.9-7.1-2.8s-2.5-4.6-2.5-8.1c0-2.2,0.4-4.2,1.2-5.9s2-3,3.5-3.9c1.5-0.9,3.3-1.3,5.3-1.3
		c2.1,0,4.2,0.5,6.3,1.5l-1.5,3.7c-0.8-0.4-1.6-0.7-2.4-1S790.3,127.1,789.5,127.1z"/>
                <path class="st0" d="M806,145h-4.5v-17.6h-5.8v-3.8h16.2v3.8H806V145z"/>
                <path class="st0" d="M813.3,145v-21.4h4.5V145H813.3z"/>
                <path class="st0" d="M840.9,134.3c0,3.5-0.9,6.3-2.6,8.2s-4.3,2.9-7.6,2.9s-5.8-1-7.6-2.9s-2.6-4.6-2.6-8.2s0.9-6.3,2.6-8.2
		s4.3-2.8,7.6-2.8s5.8,0.9,7.6,2.8C840,128,840.9,130.7,840.9,134.3z M825.2,134.3c0,2.4,0.5,4.2,1.4,5.4s2.3,1.8,4.1,1.8
		c3.6,0,5.4-2.4,5.4-7.2c0-4.8-1.8-7.2-5.4-7.2c-1.8,0-3.2,0.6-4.1,1.8S825.2,131.9,825.2,134.3z"/>
                <path class="st0" d="M862.5,145h-5.8l-9.3-16.2h-0.1c0.2,2.9,0.3,4.9,0.3,6.1V145h-4.1v-21.4h5.7l9.3,16h0.1
		c-0.1-2.8-0.2-4.8-0.2-5.9v-10.1h4.1V145z"/>
                <path class="st0" d="M866.1,145v-21.4h4.5V145H866.1z"/>
                <path class="st0" d="M886.9,139.1c0,1.9-0.7,3.5-2.1,4.6c-1.4,1.1-3.3,1.7-5.8,1.7c-2.3,0-4.3-0.4-6.1-1.3v-4.2
		c1.4,0.6,2.7,1.1,3.7,1.4c1,0.3,1.9,0.4,2.7,0.4c1,0,1.8-0.2,2.3-0.6c0.5-0.4,0.8-0.9,0.8-1.7c0-0.4-0.1-0.8-0.4-1.1
		s-0.6-0.6-1-0.9c-0.5-0.3-1.4-0.8-2.8-1.5c-1.3-0.6-2.3-1.2-2.9-1.8s-1.2-1.2-1.6-2s-0.6-1.6-0.6-2.6c0-1.9,0.6-3.4,1.9-4.5
		c1.3-1.1,3.1-1.6,5.3-1.6c1.1,0,2.2,0.1,3.2,0.4c1,0.3,2.1,0.6,3.2,1.1l-1.5,3.5c-1.1-0.5-2.1-0.8-2.8-1c-0.7-0.2-1.5-0.3-2.2-0.3
		c-0.9,0-1.5,0.2-2,0.6s-0.7,0.9-0.7,1.6c0,0.4,0.1,0.7,0.3,1s0.5,0.6,0.9,0.9s1.4,0.8,2.9,1.5c2,1,3.4,1.9,4.1,2.9
		S886.9,137.7,886.9,139.1z"/>
                <path class="st0" d="M897.2,145h-4.5v-17.6h-5.8v-3.8H903v3.8h-5.8V145z"/>
            </g></a>
            
            <g id="moral">
                <path class="st1" d="M753.4,100.4h3l7.2,13.5l7.2-13.5h3V121h-3v-14.7l-7.2,13.5l-7.2-13.5V121h-3V100.4z"/>
                <path class="st1" d="M776.1,113.2c0-4.4,3.7-8.1,8.2-8.1c4.4,0,8.1,3.7,8.1,8.1c0,4.4-3.7,8.1-8.1,8.1
		C779.8,121.4,776.1,117.6,776.1,113.2z M789.4,113.2c0-3-2.4-5.5-5.2-5.5c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.4,5.5,5.2,5.5
		C787,118.8,789.4,116.3,789.4,113.2z"/>
                <path class="st1" d="M802.9,105.1v2.6c-3.2,0-5.5,1.8-5.8,4.5v8.8h-3v-15.5h3v3C798.2,106.4,800.3,105.1,802.9,105.1z"/>
                <path class="st1" d="M817,111.6v9.4h-2.9v-2.1c-1.1,1.6-3.3,2.5-5.2,2.5c-3.3,0-5.7-1.9-5.7-4.9c0-3.1,2.8-5.2,6.2-5.2
		c1.5,0,3.2,0.3,4.7,0.8v-0.5c0-1.9-0.9-4-4-4c-1.5,0-3,0.6-4.4,1.3l-1.1-2.2c2.2-1.1,4.2-1.6,5.9-1.6
		C814.7,105.1,817,107.8,817,111.6z M814.1,116.1v-2.1c-1.3-0.4-2.7-0.6-4.2-0.6c-2.1,0-3.8,1.2-3.8,2.9c0,1.7,1.5,2.7,3.4,2.7
		C811.5,119,813.6,118.1,814.1,116.1z"/>
                <path class="st1" d="M819.5,100h2.9v21h-2.9V100z"/>
            </g>
            <a href="{{path('the template',{'id': 1})}}"><g id="Advisor">
                <path class="st2" d="M818.8,292.2l-1.6-5.1h-7.8l-1.6,5.1H803l7.6-21.5h5.6l7.6,21.5H818.8z M816.2,283.3c-1.4-4.6-2.2-7.2-2.4-7.8
		s-0.3-1.1-0.4-1.4c-0.3,1.3-1.2,4.3-2.8,9.3H816.2z"/>
                <path class="st2" d="M829.4,292.5c-1.9,0-3.4-0.7-4.5-2.2c-1.1-1.5-1.6-3.6-1.6-6.2c0-2.7,0.6-4.8,1.7-6.3c1.1-1.5,2.7-2.2,4.6-2.2
		c2.1,0,3.6,0.8,4.7,2.4h0.1c-0.2-1.2-0.3-2.3-0.3-3.3v-5.2h4.5v22.8h-3.4l-0.9-2.1h-0.2C833.1,291.6,831.5,292.5,829.4,292.5z
		 M831,288.9c1.1,0,2-0.3,2.5-1c0.5-0.7,0.8-1.8,0.9-3.4V284c0-1.8-0.3-3-0.8-3.8c-0.5-0.8-1.4-1.1-2.6-1.1c-1,0-1.8,0.4-2.3,1.3
		s-0.8,2.1-0.8,3.7s0.3,2.8,0.8,3.6S830,288.9,831,288.9z"/>
                <path class="st2" d="M845.3,292.2l-6.2-16.4h4.7l3.2,9.3c0.4,1.2,0.6,2.3,0.7,3.4h0.1c0-0.9,0.3-2.1,0.7-3.4l3.1-9.3h4.7l-6.2,16.4
		H845.3z"/>
                <path class="st2" d="M856.5,271.6c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6s-1,0.6-1.8,0.6
		C857.3,273.7,856.5,273,856.5,271.6z M861.2,292.2h-4.5v-16.4h4.5V292.2z"/>
                <path class="st2" d="M875.5,287.3c0,1.7-0.6,3-1.8,3.8c-1.2,0.9-2.9,1.3-5.2,1.3c-1.2,0-2.2-0.1-3-0.2s-1.6-0.4-2.4-0.7v-3.7
		c0.8,0.4,1.8,0.7,2.8,1c1,0.3,2,0.4,2.7,0.4c1.6,0,2.4-0.5,2.4-1.4c0-0.4-0.1-0.6-0.3-0.9s-0.6-0.5-1.1-0.7s-1.2-0.6-2.1-1
		c-1.3-0.5-2.2-1-2.8-1.5s-1-1-1.3-1.5s-0.4-1.3-0.4-2.1c0-1.5,0.6-2.6,1.7-3.4c1.1-0.8,2.7-1.2,4.8-1.2c2,0,3.9,0.4,5.8,1.3
		l-1.3,3.2c-0.8-0.4-1.6-0.6-2.3-0.9s-1.4-0.3-2.2-0.3c-1.3,0-2,0.4-2,1.1c0,0.4,0.2,0.7,0.6,1c0.4,0.3,1.4,0.7,2.8,1.3
		c1.3,0.5,2.2,1,2.8,1.5s1,1,1.3,1.6S875.5,286.5,875.5,287.3z"/>
                <path class="st2" d="M892,283.9c0,2.7-0.7,4.8-2.1,6.3s-3.4,2.3-5.9,2.3c-1.6,0-3-0.3-4.2-1s-2.1-1.7-2.8-3s-1-2.8-1-4.5
		c0-2.7,0.7-4.8,2.1-6.2s3.4-2.2,5.9-2.2c1.6,0,3,0.3,4.2,1s2.1,1.7,2.8,2.9S892,282.2,892,283.9z M880.7,283.9
		c0,1.6,0.3,2.8,0.8,3.7s1.4,1.2,2.6,1.2c1.2,0,2-0.4,2.6-1.2c0.5-0.8,0.8-2.1,0.8-3.7c0-1.6-0.3-2.8-0.8-3.6s-1.4-1.2-2.6-1.2
		c-1.2,0-2.1,0.4-2.6,1.2S880.7,282.3,880.7,283.9z"/>
                <path class="st2" d="M903.1,275.5c0.6,0,1.1,0,1.5,0.1l-0.3,4.2c-0.4-0.1-0.8-0.1-1.3-0.1c-1.4,0-2.5,0.4-3.3,1.1
		c-0.8,0.7-1.2,1.8-1.2,3.1v8.3h-4.5v-16.4h3.4l0.7,2.8h0.2c0.5-0.9,1.2-1.7,2.1-2.2C901.1,275.8,902.1,275.5,903.1,275.5z"/>
            </g></a>
            <g id = "supportive">
                <path class="st1" d="M786.9,264.2l1.8-2.3c1.8,1.7,4,2.9,6.8,2.9c2.8,0,4.3-1.5,4.3-3.1c0-1.9-1.7-2.7-5.2-3.5c-4.2-1-7-2.3-7-6
		c0-3.4,3-6.1,7.1-6.1c3.2,0,5.5,1.2,7.5,2.9l-1.7,2.3c-1.7-1.6-3.8-2.5-5.9-2.5c-2.3,0-3.9,1.5-3.9,3.1c0,1.9,1.8,2.6,5.2,3.4
		c4.1,1,7,2.3,7,6c0,3.5-2.6,6.1-7.5,6.1C792,267.5,789.1,266.3,786.9,264.2z"/>
                <path class="st1" d="M818.4,251.7v15.5h-3v-2.3c-0.9,1.5-2.8,2.6-4.9,2.6c-3.4,0-5.8-2.5-5.8-6v-9.9h2.9v9.4c0,2.3,1.5,3.9,3.6,3.9
		c2.2,0,4-1.4,4.3-3.2v-10H818.4z"/>
                <path class="st1" d="M836.7,259.4c0,4.8-3.1,8.1-7.1,8.1c-2.4,0-4.3-1.1-5.5-3.1v7.9h-2.9v-20.7h2.9v2.7c1.2-1.9,3.1-3,5.5-3
		C833.6,251.3,836.7,254.7,836.7,259.4z M833.7,259.4c0-3.2-2-5.5-4.9-5.5c-2.8,0-4.8,2.3-4.8,5.5c0,3.2,2,5.5,4.8,5.5
		C831.7,264.9,833.7,262.6,833.7,259.4z"/>
                <path class="st1" d="M854.2,259.4c0,4.8-3.1,8.1-7.1,8.1c-2.4,0-4.3-1.1-5.5-3.1v7.9h-2.9v-20.7h2.9v2.7c1.2-1.9,3.1-3,5.5-3
		C851.2,251.3,854.2,254.7,854.2,259.4z M851.2,259.4c0-3.2-2-5.5-4.9-5.5c-2.8,0-4.8,2.3-4.8,5.5c0,3.2,2,5.5,4.8,5.5
		C849.2,264.9,851.2,262.6,851.2,259.4z"/>
                <path class="st1" d="M855.2,259.4c0-4.4,3.7-8.1,8.2-8.1c4.4,0,8.1,3.7,8.1,8.1c0,4.4-3.7,8.1-8.1,8.1
		C858.9,267.5,855.2,263.8,855.2,259.4z M868.5,259.4c0-3-2.4-5.5-5.2-5.5c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.4,5.5,5.2,5.5
		C866.2,264.9,868.5,262.4,868.5,259.4z"/>
                <path class="st1" d="M882.1,251.3v2.6c-3.2,0-5.5,1.8-5.8,4.5v8.8h-3v-15.5h3v3C877.3,252.6,879.4,251.3,882.1,251.3z"/>
                <path class="st1" d="M891.5,266.4c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1H882v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7v8.9
		c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L891.5,266.4z"/>
                <path class="st1" d="M892.4,247.3c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8
		C893.2,249.1,892.4,248.2,892.4,247.3z M892.7,251.7h3v15.5h-3V251.7z"/>
                <path class="st1" d="M896.7,251.7h3.2l4.8,12.1l4.7-12.1h3.2l-6.5,15.5h-2.8L896.7,251.7z"/>
                <path class="st1" d="M924.2,263.2l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,5,4.4C921.4,264.9,923.3,264.2,924.2,263.2z M914.9,258.1h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C917.3,253.9,915.3,255.6,914.9,258.1z"/>
            </g>
            <a href="{{path('the template',{'id': 2})}}"><g id="achiever">
                <path class="st3" d="M789.9,477.8l-1.6-5.1h-7.8l-1.6,5.1h-4.9l7.6-21.5h5.6l7.6,21.5H789.9z M787.3,468.9
		c-1.4-4.6-2.2-7.2-2.4-7.8s-0.3-1.1-0.4-1.4c-0.3,1.3-1.2,4.3-2.8,9.3H787.3z"/>
                <path class="st3" d="M802,478.1c-5.1,0-7.6-2.8-7.6-8.4c0-2.8,0.7-4.9,2.1-6.4c1.4-1.5,3.4-2.2,6-2.2c1.9,0,3.6,0.4,5.1,1.1
		l-1.3,3.5c-0.7-0.3-1.4-0.5-2-0.7c-0.6-0.2-1.2-0.3-1.8-0.3c-2.3,0-3.5,1.7-3.5,5c0,3.2,1.2,4.8,3.5,4.8c0.9,0,1.7-0.1,2.4-0.3
		c0.7-0.2,1.5-0.6,2.2-1.1v3.8c-0.7,0.5-1.5,0.8-2.2,1C804,478,803.1,478.1,802,478.1z"/>
                <path class="st3" d="M824.1,477.8h-4.5v-9.6c0-2.4-0.9-3.5-2.6-3.5c-1.3,0-2.2,0.4-2.7,1.3s-0.8,2.2-0.8,4.1v7.7H809V455h4.5v4.6
		c0,0.4,0,1.2-0.1,2.5l-0.1,1.3h0.2c1-1.6,2.6-2.4,4.7-2.4c1.9,0,3.4,0.5,4.4,1.6s1.5,2.5,1.5,4.5V477.8z"/>
                <path class="st3" d="M826.7,457.2c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6c-0.4,0.4-1,0.6-1.8,0.6
		C827.5,459.3,826.7,458.6,826.7,457.2z M831.3,477.8h-4.5v-16.4h4.5V477.8z"/>
                <path class="st3" d="M841.6,478.1c-2.6,0-4.7-0.7-6.2-2.2s-2.2-3.5-2.2-6.2c0-2.7,0.7-4.9,2.1-6.4c1.4-1.5,3.3-2.2,5.7-2.2
		c2.3,0,4.1,0.7,5.4,2s1.9,3.1,1.9,5.5v2.2h-10.6c0,1.3,0.4,2.3,1.1,3s1.7,1.1,3,1.1c1,0,1.9-0.1,2.8-0.3s1.8-0.5,2.8-1v3.5
		c-0.8,0.4-1.6,0.7-2.5,0.9C844,478,842.9,478.1,841.6,478.1z M841,464.3c-0.9,0-1.7,0.3-2.2,0.9c-0.5,0.6-0.8,1.5-0.9,2.6h6.3
		c0-1.1-0.3-2-0.9-2.6C842.7,464.6,842,464.3,841,464.3z"/>
                <path class="st3" d="M854.1,477.8l-6.2-16.4h4.7l3.2,9.3c0.4,1.2,0.6,2.3,0.7,3.4h0.1c0-0.9,0.3-2.1,0.7-3.4l3.1-9.3h4.7l-6.2,16.4
		H854.1z"/>
                <path class="st3" d="M872.8,478.1c-2.6,0-4.7-0.7-6.2-2.2s-2.2-3.5-2.2-6.2c0-2.7,0.7-4.9,2.1-6.4c1.4-1.5,3.3-2.2,5.7-2.2
		c2.3,0,4.1,0.7,5.4,2s1.9,3.1,1.9,5.5v2.2H869c0,1.3,0.4,2.3,1.1,3s1.7,1.1,3,1.1c1,0,1.9-0.1,2.8-0.3s1.8-0.5,2.8-1v3.5
		c-0.8,0.4-1.6,0.7-2.5,0.9C875.2,478,874.1,478.1,872.8,478.1z M872.2,464.3c-0.9,0-1.7,0.3-2.2,0.9c-0.5,0.6-0.8,1.5-0.9,2.6h6.3
		c0-1.1-0.3-2-0.9-2.6C873.9,464.6,873.2,464.3,872.2,464.3z"/>
                <path class="st3" d="M890.5,461.1c0.6,0,1.1,0,1.5,0.1l-0.3,4.2c-0.4-0.1-0.8-0.1-1.3-0.1c-1.4,0-2.5,0.4-3.3,1.1
		c-0.8,0.7-1.2,1.8-1.2,3.1v8.3h-4.5v-16.4h3.4l0.7,2.8h0.2c0.5-0.9,1.2-1.7,2.1-2.2C888.5,461.4,889.5,461.1,890.5,461.1z"/>
            </g></a>
            <g id="successful">
                <path class="st1" d="M768.9,450.8l1.8-2.3c1.8,1.7,4,2.9,6.8,2.9c2.8,0,4.3-1.5,4.3-3.1c0-2-1.7-2.7-5.2-3.5c-4.2-1-7-2.3-7-6
		c0-3.5,3-6.1,7.1-6.1c3.2,0,5.5,1.2,7.5,2.9l-1.7,2.3c-1.7-1.6-3.8-2.5-5.9-2.5c-2.3,0-3.9,1.5-3.9,3.1c0,1.9,1.8,2.6,5.2,3.4
		c4.1,1,7,2.3,7,6c0,3.5-2.6,6.1-7.5,6.1C774,454.1,771.1,452.9,768.9,450.8z"/>
                <path class="st1" d="M800.4,438.3v15.5h-3v-2.3c-0.9,1.5-2.8,2.6-4.9,2.6c-3.4,0-5.8-2.5-5.8-6v-9.9h2.9v9.4c0,2.3,1.5,3.9,3.6,3.9
		c2.2,0,4-1.4,4.3-3.2v-10H800.4z"/>
                <path class="st1" d="M802.1,446c0-4.4,3.7-8.1,8.2-8.1c2.2,0,4.2,0.9,5.7,2.4l-2,1.9c-0.9-1-2.3-1.7-3.7-1.7
		c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.3,5.5,5.2,5.5c1.4,0,2.8-0.7,3.8-1.7l2,1.8c-1.5,1.5-3.5,2.5-5.8,2.5
		C805.8,454.1,802.1,450.4,802.1,446z"/>
                <path class="st1" d="M816.6,446c0-4.4,3.7-8.1,8.2-8.1c2.2,0,4.2,0.9,5.7,2.4l-2,1.9c-0.9-1-2.3-1.7-3.7-1.7
		c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.3,5.5,5.2,5.5c1.4,0,2.8-0.7,3.8-1.7l2,1.8c-1.5,1.5-3.5,2.5-5.8,2.5
		C820.4,454.1,816.6,450.4,816.6,446z"/>
                <path class="st1" d="M843.5,449.8l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.7,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,4.9,4.4C840.7,451.5,842.6,450.8,843.5,449.8z M834.2,444.7h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C836.6,440.5,834.6,442.2,834.2,444.7z"/>
                <path class="st1" d="M847,451.8l1.4-2.1c1.7,1.2,3.4,1.9,5.3,1.9c1.7,0,2.9-0.8,2.9-2c0-1.4-1.6-1.9-3.5-2.4c-3.6-1-5.3-2-5.3-4.5
		c0-2.8,2.3-4.7,5.6-4.7c2,0,4,0.7,5.7,1.8l-1.3,2.2c-1.5-0.9-3.1-1.4-4.4-1.4c-1.5,0-2.7,0.7-2.7,1.8c0,1.2,1,1.6,3.6,2.4
		c2.5,0.8,5.3,1.6,5.3,4.7c0,2.9-2.5,4.8-5.9,4.8C851.3,454.1,848.8,453.3,847,451.8z"/>
                <path class="st1" d="M860.1,451.8l1.4-2.1c1.7,1.2,3.4,1.9,5.3,1.9c1.7,0,2.9-0.8,2.9-2c0-1.4-1.6-1.9-3.5-2.4
		c-3.6-1-5.3-2-5.3-4.5c0-2.8,2.3-4.7,5.6-4.7c2,0,4,0.7,5.7,1.8l-1.3,2.2c-1.5-0.9-3.1-1.4-4.4-1.4c-1.5,0-2.7,0.7-2.7,1.8
		c0,1.2,1,1.6,3.6,2.4c2.5,0.8,5.3,1.6,5.3,4.7c0,2.9-2.5,4.8-5.9,4.8C864.5,454.1,862,453.3,860.1,451.8z"/>
                <path class="st1" d="M878.4,438.3h3.7v2.5h-3.7v13h-2.9v-13h-2.3v-2.5h2.3v-1.9c0-2.5,1.7-4.2,4.1-4.2c1.1,0,2.2,0.4,3.1,1.1
		l-1.1,2c-0.3-0.3-0.9-0.6-1.6-0.6c-0.9,0-1.6,0.8-1.6,1.9V438.3z"/>
                <path class="st1" d="M896.9,438.3v15.5h-3v-2.3c-0.9,1.5-2.8,2.6-4.9,2.6c-3.4,0-5.8-2.5-5.8-6v-9.9h2.9v9.4c0,2.3,1.5,3.9,3.6,3.9
		c2.2,0,4-1.4,4.3-3.2v-10H896.9z"/>
                <path class="st1" d="M899.4,432.8h2.9v21h-2.9V432.8z"/>
            </g>
            <a href="{{path('the template',{'id': 3})}}"><g id="individualist">
                <path class="st4" d="M563.9,643.5v-21.4h4.5v21.4H563.9z"/>
                <path class="st4" d="M586.8,643.5h-4.5V634c0-1.2-0.2-2.1-0.6-2.7c-0.4-0.6-1.1-0.9-2-0.9c-1.3,0-2.2,0.4-2.7,1.3
		c-0.6,0.8-0.8,2.2-0.8,4.2v7.7h-4.5v-16.4h3.4l0.6,2.1h0.2c0.5-0.8,1.2-1.4,2.1-1.8c0.9-0.4,1.9-0.6,3-0.6c1.9,0,3.3,0.5,4.3,1.5
		c1,1,1.5,2.5,1.5,4.5V643.5z"/>
                <path class="st4" d="M594.8,643.8c-1.9,0-3.4-0.7-4.5-2.2c-1.1-1.5-1.6-3.6-1.6-6.2c0-2.7,0.6-4.8,1.7-6.3c1.1-1.5,2.7-2.2,4.6-2.2
		c2.1,0,3.6,0.8,4.7,2.4h0.1c-0.2-1.2-0.3-2.3-0.3-3.3v-5.2h4.5v22.8h-3.4l-0.9-2.1h-0.2C598.4,643,596.9,643.8,594.8,643.8z
		 M596.3,640.2c1.1,0,2-0.3,2.5-1c0.5-0.7,0.8-1.8,0.9-3.4v-0.5c0-1.8-0.3-3-0.8-3.8c-0.5-0.8-1.4-1.1-2.6-1.1c-1,0-1.8,0.4-2.3,1.3
		c-0.6,0.8-0.8,2.1-0.8,3.7s0.3,2.8,0.8,3.6C594.5,639.8,595.3,640.2,596.3,640.2z"/>
                <path class="st4" d="M606.6,622.9c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6c-0.4,0.4-1,0.6-1.8,0.6
		C607.4,625.1,606.6,624.4,606.6,622.9z M611.2,643.5h-4.5v-16.4h4.5V643.5z"/>
                <path class="st4" d="M618,643.5l-6.2-16.4h4.7l3.2,9.3c0.4,1.2,0.6,2.3,0.7,3.4h0.1c0-0.9,0.3-2.1,0.7-3.4l3.1-9.3h4.7l-6.2,16.4
		H618z"/>
                <path class="st4" d="M629.2,622.9c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6c-0.4,0.4-1,0.6-1.8,0.6
		C630,625.1,629.2,624.4,629.2,622.9z M633.9,643.5h-4.5v-16.4h4.5V643.5z"/>
                <path class="st4" d="M641.9,643.8c-1.9,0-3.4-0.7-4.5-2.2c-1.1-1.5-1.6-3.6-1.6-6.2c0-2.7,0.6-4.8,1.7-6.3c1.1-1.5,2.7-2.2,4.6-2.2
		c2.1,0,3.6,0.8,4.7,2.4h0.1c-0.2-1.2-0.3-2.3-0.3-3.3v-5.2h4.5v22.8h-3.4l-0.9-2.1h-0.2C645.6,643,644,643.8,641.9,643.8z
		 M643.5,640.2c1.1,0,2-0.3,2.5-1c0.5-0.7,0.8-1.8,0.9-3.4v-0.5c0-1.8-0.3-3-0.8-3.8c-0.5-0.8-1.4-1.1-2.6-1.1c-1,0-1.8,0.4-2.3,1.3
		c-0.6,0.8-0.8,2.1-0.8,3.7s0.3,2.8,0.8,3.6C641.7,639.8,642.5,640.2,643.5,640.2z"/>
                <path class="st4" d="M665.5,643.5l-0.6-2.1h-0.2c-0.5,0.8-1.2,1.4-2,1.8c-0.9,0.4-1.9,0.6-3,0.6c-1.9,0-3.4-0.5-4.4-1.5
		c-1-1-1.5-2.5-1.5-4.4v-10.7h4.5v9.6c0,1.2,0.2,2.1,0.6,2.7c0.4,0.6,1.1,0.9,2,0.9c1.3,0,2.2-0.4,2.7-1.3c0.6-0.8,0.8-2.2,0.8-4.2
		v-7.7h4.5v16.4H665.5z"/>
                <path class="st4" d="M682.3,643.5l-0.9-2.2h-0.1c-0.8,0.9-1.5,1.6-2.3,2c-0.8,0.4-1.8,0.5-3.1,0.5c-1.6,0-2.8-0.4-3.7-1.3
		c-0.9-0.9-1.4-2.2-1.4-3.8c0-1.7,0.6-3,1.8-3.8c1.2-0.8,3-1.3,5.5-1.4l2.8-0.1v-0.7c0-1.7-0.8-2.5-2.5-2.5c-1.3,0-2.8,0.4-4.6,1.2
		l-1.5-3c1.9-1,4-1.5,6.3-1.5c2.2,0,3.9,0.5,5.1,1.4s1.8,2.4,1.8,4.4v10.9H682.3z M680.9,635.9l-1.7,0.1c-1.3,0-2.3,0.3-2.9,0.7
		s-1,1.1-1,2c0,1.3,0.7,1.9,2.2,1.9c1,0,1.9-0.3,2.5-0.9c0.6-0.6,0.9-1.4,0.9-2.4V635.9z"/>
                <path class="st4" d="M692.6,643.5h-4.5v-22.8h4.5V643.5z"/>
                <path class="st4" d="M695.3,622.9c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6c-0.4,0.4-1,0.6-1.8,0.6
		C696.1,625.1,695.3,624.4,695.3,622.9z M700,643.5h-4.5v-16.4h4.5V643.5z"/>
                <path class="st4" d="M714.3,638.7c0,1.7-0.6,3-1.8,3.8c-1.2,0.9-2.9,1.3-5.2,1.3c-1.2,0-2.2-0.1-3-0.2c-0.8-0.2-1.6-0.4-2.4-0.7
		v-3.7c0.8,0.4,1.8,0.7,2.8,1c1,0.3,2,0.4,2.7,0.4c1.6,0,2.4-0.5,2.4-1.4c0-0.4-0.1-0.6-0.3-0.9c-0.2-0.2-0.6-0.5-1.1-0.7
		c-0.5-0.3-1.2-0.6-2.1-1c-1.3-0.5-2.2-1-2.8-1.5s-1-1-1.3-1.5c-0.3-0.6-0.4-1.3-0.4-2.1c0-1.5,0.6-2.6,1.7-3.4
		c1.1-0.8,2.7-1.2,4.8-1.2c2,0,3.9,0.4,5.8,1.3l-1.3,3.2c-0.8-0.4-1.6-0.6-2.3-0.9s-1.4-0.3-2.2-0.3c-1.3,0-2,0.4-2,1.1
		c0,0.4,0.2,0.7,0.6,1c0.4,0.3,1.4,0.7,2.8,1.3c1.3,0.5,2.2,1,2.8,1.5s1,1,1.3,1.6S714.3,637.8,714.3,638.7z"/>
                <path class="st4" d="M722.9,640.2c0.8,0,1.7-0.2,2.8-0.5v3.3c-1.1,0.5-2.5,0.7-4.1,0.7c-1.8,0-3.1-0.5-3.9-1.4
		c-0.8-0.9-1.2-2.3-1.2-4.1v-7.9h-2.1v-1.9l2.5-1.5l1.3-3.5h2.9v3.5h4.6v3.4h-4.6v7.9c0,0.6,0.2,1.1,0.5,1.4
		C721.8,640.1,722.3,640.2,722.9,640.2z"/>
            </g></a>
            <g id="romantic">
                <path class="st1" d="M593.8,613.8l5.3,7.5h-3.5l-5-7.2h-4.7v7.2h-3v-20.6h8.7c4.3,0,7.6,2.8,7.6,6.7
		C599.1,610.5,596.9,613,593.8,613.8z M585.8,611.3h5.2c3,0,5-1.5,5-3.9c0-2.4-2-3.9-5-3.9h-5.2V611.3z"/>
                <path class="st1" d="M599.8,613.5c0-4.4,3.7-8.1,8.2-8.1c4.4,0,8.1,3.7,8.1,8.1s-3.7,8.1-8.1,8.1
		C603.6,621.6,599.8,617.9,599.8,613.5z M613.2,613.5c0-3-2.4-5.5-5.2-5.5c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.4,5.5,5.2,5.5
		C610.8,619,613.2,616.5,613.2,613.5z"/>
                <path class="st1" d="M640.7,611.4v9.9h-2.9v-9.4c0-2.3-1.3-3.9-3.3-3.9c-2.2,0-3.8,1.5-3.8,3.6v9.7h-2.9v-9.4
		c0-2.3-1.4-3.9-3.3-3.9c-2.2,0-3.8,1.5-3.8,3.6v9.7h-3v-15.5h3v2.2c0.8-1.5,2.4-2.5,4.4-2.5c2.3,0,4.1,1.2,5,3.1
		c0.7-1.9,2.7-3.1,5-3.1C638.4,605.4,640.7,607.9,640.7,611.4z"/>
                <path class="st1" d="M656.2,611.9v9.4h-2.9v-2.1c-1.1,1.6-3.3,2.5-5.2,2.5c-3.3,0-5.7-1.9-5.7-4.9c0-3.1,2.8-5.2,6.2-5.2
		c1.5,0,3.2,0.3,4.7,0.8v-0.5c0-2-0.9-4-4-4c-1.5,0-3,0.6-4.4,1.3l-1.1-2.2c2.2-1.1,4.2-1.6,5.9-1.6
		C653.9,605.4,656.2,608,656.2,611.9z M653.3,616.4v-2.1c-1.3-0.4-2.7-0.6-4.2-0.6c-2.1,0-3.8,1.2-3.8,2.8s1.5,2.7,3.4,2.7
		C650.6,619.3,652.8,618.3,653.3,616.4z"/>
                <path class="st1" d="M672.4,611.4v9.9h-2.9v-9.4c0-2.3-1.5-3.9-3.6-3.9c-2.2,0-4,1.4-4.3,3.2v10h-3v-15.5h3v2.3
		c0.9-1.5,2.8-2.6,4.9-2.6C670,605.4,672.4,607.9,672.4,611.4z"/>
                <path class="st1" d="M683.2,620.5c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7
		v8.9c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L683.2,620.5z"/>
                <path class="st1" d="M684.1,601.4c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8
		C684.9,603.2,684.1,602.3,684.1,601.4z M684.4,605.7h3v15.5h-3V605.7z"/>
                <path class="st1" d="M689,613.5c0-4.4,3.7-8.1,8.2-8.1c2.2,0,4.2,0.9,5.7,2.4l-2,1.9c-0.9-1.1-2.3-1.7-3.7-1.7
		c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.3,5.5,5.2,5.5c1.4,0,2.8-0.7,3.8-1.7l2,1.8c-1.5,1.5-3.5,2.5-5.8,2.5
		C692.8,621.6,689,617.9,689,613.5z"/>
            </g>
            <a href="{{path('the template',{'id': 4})}}"><g id="thinker">
                <path class="st5" d="M392,644.1h-4.5v-17.6h-5.8v-3.8h16.2v3.8H392V644.1z"/>
                <path class="st5" d="M414,644.1h-4.5v-9.6c0-2.4-0.9-3.5-2.6-3.5c-1.3,0-2.2,0.4-2.7,1.3s-0.8,2.2-0.8,4.1v7.7h-4.5v-22.8h4.5v4.6
		c0,0.4,0,1.2-0.1,2.5l-0.1,1.3h0.2c1-1.6,2.6-2.4,4.7-2.4c1.9,0,3.4,0.5,4.4,1.6s1.5,2.5,1.5,4.5V644.1z"/>
                <path class="st5" d="M416.7,623.5c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6c-0.4,0.4-1,0.6-1.8,0.6
		C417.5,625.6,416.7,624.9,416.7,623.5z M421.3,644.1h-4.5v-16.4h4.5V644.1z"/>
                <path class="st5" d="M439.3,644.1h-4.5v-9.6c0-1.2-0.2-2.1-0.6-2.7c-0.4-0.6-1.1-0.9-2-0.9c-1.3,0-2.2,0.4-2.7,1.3
		c-0.6,0.8-0.8,2.2-0.8,4.2v7.7h-4.5v-16.4h3.4l0.6,2.1h0.2c0.5-0.8,1.2-1.4,2.1-1.8c0.9-0.4,1.9-0.6,3-0.6c1.9,0,3.3,0.5,4.3,1.5
		c1,1,1.5,2.5,1.5,4.5V644.1z"/>
                <path class="st5" d="M446.4,635.2l1.9-2.5l4.6-5h5l-6.5,7.1l6.9,9.3h-5.2l-4.7-6.6l-1.9,1.5v5.1h-4.5v-22.8h4.5v10.2L446.4,635.2
		L446.4,635.2z"/>
                <path class="st5" d="M466.3,644.4c-2.6,0-4.7-0.7-6.2-2.2s-2.2-3.5-2.2-6.2c0-2.7,0.7-4.9,2.1-6.4c1.4-1.5,3.3-2.2,5.7-2.2
		c2.3,0,4.1,0.7,5.4,2s1.9,3.1,1.9,5.5v2.2h-10.6c0,1.3,0.4,2.3,1.1,3s1.7,1.1,3,1.1c1,0,1.9-0.1,2.8-0.3s1.8-0.5,2.8-1v3.5
		c-0.8,0.4-1.6,0.7-2.5,0.9C468.7,644.3,467.6,644.4,466.3,644.4z M465.7,630.6c-0.9,0-1.7,0.3-2.2,0.9c-0.5,0.6-0.8,1.5-0.9,2.6
		h6.3c0-1.1-0.3-2-0.9-2.6C467.4,630.9,466.6,630.6,465.7,630.6z"/>
                <path class="st5" d="M484,627.4c0.6,0,1.1,0,1.5,0.1l-0.3,4.2c-0.4-0.1-0.8-0.1-1.3-0.1c-1.4,0-2.5,0.4-3.3,1.1
		c-0.8,0.7-1.2,1.8-1.2,3.1v8.3h-4.5v-16.4h3.4l0.7,2.8h0.2c0.5-0.9,1.2-1.7,2.1-2.2C482,627.7,483,627.4,484,627.4z"/>
            </g></a>
            <g id="investigative">
                <path class="st1" d="M353.5,600.6h3v20.6h-3V600.6z"/>
                <path class="st1" d="M372.9,611.4v9.9H370v-9.4c0-2.3-1.5-3.9-3.6-3.9c-2.2,0-4,1.4-4.3,3.2v10h-3v-15.5h3v2.3
		c0.9-1.5,2.8-2.6,4.9-2.6C370.5,605.4,372.9,607.9,372.9,611.4z"/>
                <path class="st1" d="M373.9,605.7h3.2l4.8,12.1l4.7-12.1h3.2l-6.5,15.5h-2.8L373.9,605.7z"/>
                <path class="st1" d="M401.4,617.3l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1H392c0.4,2.6,2.3,4.4,4.9,4.4C398.6,619,400.5,618.3,401.4,617.3z M392.1,612.2h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C394.5,608,392.5,609.6,392.1,612.2z"/>
                <path class="st1" d="M404.9,619.3l1.4-2.1c1.7,1.2,3.4,1.9,5.3,1.9c1.7,0,2.9-0.8,2.9-2c0-1.4-1.6-1.9-3.5-2.4
		c-3.6-1-5.3-2-5.3-4.5c0-2.8,2.3-4.7,5.6-4.7c2,0,4,0.7,5.7,1.8l-1.3,2.2c-1.5-0.9-3.1-1.4-4.4-1.4c-1.5,0-2.7,0.7-2.7,1.8
		c0,1.2,1,1.6,3.6,2.4c2.5,0.8,5.3,1.6,5.3,4.7c0,2.9-2.5,4.8-5.9,4.8C409.2,621.6,406.7,620.8,404.9,619.3z"/>
                <path class="st1" d="M427.4,620.5c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7
		v8.9c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L427.4,620.5z"/>
                <path class="st1" d="M428.3,601.4c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8
		C429,603.2,428.3,602.3,428.3,601.4z M428.6,605.7h3v15.5h-3V605.7z"/>
                <path class="st1" d="M448.8,605.7v13.9c0,4-3.3,6.8-7.9,6.8c-2.6,0-5-0.9-6.5-2.1l1.2-2.2c1.1,1.1,3,1.7,4.9,1.7
		c3.3,0,5.3-1.6,5.3-4.3v-2.3c-1.2,1.8-3.1,2.8-5.5,2.8c-4.1,0-7-3.1-7-7.4s3-7.3,7-7.3c2.3,0,4.3,1.1,5.5,2.8v-2.5H448.8z
		 M445.8,612.7c0-2.8-2-4.8-4.7-4.8s-4.7,2-4.7,4.8c0,2.8,2,4.8,4.7,4.8S445.8,615.6,445.8,612.7z"/>
                <path class="st1" d="M464.4,611.9v9.4h-2.9v-2.1c-1.1,1.6-3.3,2.5-5.2,2.5c-3.3,0-5.7-1.9-5.7-4.9c0-3.1,2.8-5.2,6.2-5.2
		c1.5,0,3.2,0.3,4.7,0.8v-0.5c0-2-0.9-4-4-4c-1.5,0-3,0.6-4.4,1.3l-1.1-2.2c2.2-1.1,4.2-1.6,5.9-1.6
		C462.1,605.4,464.4,608,464.4,611.9z M461.5,616.4v-2.1c-1.3-0.4-2.7-0.6-4.2-0.6c-2.1,0-3.8,1.2-3.8,2.8s1.5,2.7,3.4,2.7
		C458.8,619.3,461,618.3,461.5,616.4z"/>
                <path class="st1" d="M475.2,620.5c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5H471v8.9
		c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L475.2,620.5z"/>
                <path class="st1" d="M476.1,601.4c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8
		C476.9,603.2,476.1,602.3,476.1,601.4z M476.4,605.7h3v15.5h-3V605.7z"/>
                <path class="st1" d="M480.4,605.7h3.2l4.8,12.1l4.7-12.1h3.2l-6.5,15.5h-2.8L480.4,605.7z"/>
                <path class="st1" d="M507.9,617.3l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,4.9,4.4C505.1,619,507,618.3,507.9,617.3z M498.6,612.2h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C501,608,499.1,609.6,498.6,612.2z"/>
            </g>
            <a href="{{path('the template',{'id': 5})}}"><g id="guardian">
                <path class="st6" d="M175.9,490.6h8.5v11.1c-1.4,0.4-2.7,0.8-3.9,0.9c-1.2,0.2-2.5,0.3-3.7,0.3c-3.2,0-5.7-1-7.4-2.8
		s-2.6-4.6-2.6-8.2c0-3.5,1-6.2,3-8.1c2-1.9,4.7-2.9,8.2-2.9c2.2,0,4.3,0.4,6.4,1.3l-1.5,3.6c-1.6-0.8-3.2-1.2-4.9-1.2
		c-2,0-3.5,0.7-4.7,2s-1.8,3.1-1.8,5.3c0,2.3,0.5,4.1,1.4,5.3c1,1.2,2.3,1.8,4.2,1.8c0.9,0,1.9-0.1,2.9-0.3v-4.5h-4.1V490.6z"/>
                <path class="st6" d="M199,502.6l-0.6-2.1h-0.2c-0.5,0.8-1.2,1.4-2,1.8s-1.9,0.6-3,0.6c-1.9,0-3.4-0.5-4.4-1.5s-1.5-2.5-1.5-4.4
		v-10.7h4.5v9.6c0,1.2,0.2,2.1,0.6,2.7s1.1,0.9,2,0.9c1.3,0,2.2-0.4,2.7-1.3s0.8-2.2,0.8-4.2v-7.7h4.5v16.4H199z"/>
                <path class="st6" d="M215.7,502.6l-0.9-2.2h-0.1c-0.8,0.9-1.5,1.6-2.3,2c-0.8,0.4-1.8,0.5-3.1,0.5c-1.6,0-2.8-0.4-3.7-1.3
		c-0.9-0.9-1.4-2.2-1.4-3.8c0-1.7,0.6-3,1.8-3.8c1.2-0.8,3-1.3,5.5-1.4l2.8-0.1v-0.7c0-1.7-0.8-2.5-2.5-2.5c-1.3,0-2.8,0.4-4.6,1.2
		l-1.5-3c1.9-1,4-1.5,6.3-1.5c2.2,0,3.9,0.5,5.1,1.4s1.8,2.4,1.8,4.4v10.9H215.7z M214.4,495.1l-1.7,0.1c-1.3,0-2.3,0.3-2.9,0.7
		s-1,1.1-1,2c0,1.3,0.7,1.9,2.2,1.9c1,0,1.9-0.3,2.5-0.9c0.6-0.6,0.9-1.4,0.9-2.4V495.1z"/>
                <path class="st6" d="M230.8,486c0.6,0,1.1,0,1.5,0.1l-0.3,4.2c-0.4-0.1-0.8-0.1-1.3-0.1c-1.4,0-2.5,0.4-3.3,1.1
		c-0.8,0.7-1.2,1.8-1.2,3.1v8.3h-4.5v-16.4h3.4l0.7,2.8h0.2c0.5-0.9,1.2-1.7,2.1-2.2C228.8,486.2,229.7,486,230.8,486z"/>
                <path class="st6" d="M238.6,502.9c-1.9,0-3.4-0.7-4.5-2.2c-1.1-1.5-1.6-3.6-1.6-6.2c0-2.7,0.6-4.8,1.7-6.3c1.1-1.5,2.7-2.2,4.6-2.2
		c2.1,0,3.6,0.8,4.7,2.4h0.1c-0.2-1.2-0.3-2.3-0.3-3.3v-5.2h4.5v22.8h-3.4l-0.9-2.1h-0.2C242.3,502.1,240.7,502.9,238.6,502.9z
		 M240.2,499.4c1.1,0,2-0.3,2.5-1c0.5-0.7,0.8-1.8,0.9-3.4v-0.5c0-1.8-0.3-3-0.8-3.8c-0.5-0.8-1.4-1.1-2.6-1.1c-1,0-1.8,0.4-2.3,1.3
		s-0.8,2.1-0.8,3.7s0.3,2.8,0.8,3.6S239.2,499.4,240.2,499.4z"/>
                <path class="st6" d="M250.4,482c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6s-1,0.6-1.8,0.6
		C251.2,484.2,250.4,483.5,250.4,482z M255.1,502.6h-4.5v-16.4h4.5V502.6z"/>
                <path class="st6" d="M268.4,502.6l-0.9-2.2h-0.1c-0.8,0.9-1.5,1.6-2.3,2c-0.8,0.4-1.8,0.5-3.1,0.5c-1.6,0-2.8-0.4-3.7-1.3
		c-0.9-0.9-1.4-2.2-1.4-3.8c0-1.7,0.6-3,1.8-3.8c1.2-0.8,3-1.3,5.5-1.4l2.8-0.1v-0.7c0-1.7-0.8-2.5-2.5-2.5c-1.3,0-2.8,0.4-4.6,1.2
		l-1.5-3c1.9-1,4-1.5,6.3-1.5c2.2,0,3.9,0.5,5.1,1.4s1.8,2.4,1.8,4.4v10.9H268.4z M267.1,495.1l-1.7,0.1c-1.3,0-2.3,0.3-2.9,0.7
		s-1,1.1-1,2c0,1.3,0.7,1.9,2.2,1.9c1,0,1.9-0.3,2.5-0.9c0.6-0.6,0.9-1.4,0.9-2.4V495.1z"/>
                <path class="st6" d="M289.4,502.6H285v-9.6c0-1.2-0.2-2.1-0.6-2.7s-1.1-0.9-2-0.9c-1.3,0-2.2,0.4-2.7,1.3s-0.8,2.2-0.8,4.2v7.7
		h-4.5v-16.4h3.4l0.6,2.1h0.2c0.5-0.8,1.2-1.4,2.1-1.8s1.9-0.6,3-0.6c1.9,0,3.3,0.5,4.3,1.5s1.5,2.5,1.5,4.5V502.6z"/>
            </g></a>
            <g id="loyal">
                <path class="st1" d="M204.9,474.1v2.8h-14v-20.6h3.1v17.8H204.9z"/>
                <path class="st1" d="M205.3,469.1c0-4.4,3.7-8.1,8.2-8.1c4.4,0,8.1,3.7,8.1,8.1s-3.7,8.1-8.1,8.1
		C209.1,477.2,205.3,473.5,205.3,469.1z M218.7,469.1c0-3-2.4-5.5-5.2-5.5c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.4,5.6,5.2,5.6
		C216.3,474.7,218.7,472.1,218.7,469.1z"/>
                <path class="st1" d="M222.6,481.6l0.7-2.3c0.6,0.3,1.3,0.5,1.9,0.5c1,0,1.6-0.3,2.1-1.2l0.8-1.7l-6.7-15.6h3.2l5,12.2l4.7-12.2h3.1
		l-6.8,16.9c-1.1,2.8-2.8,4-5,4C224.5,482.3,223.5,482,222.6,481.6z"/>
                <path class="st1" d="M251.9,467.5v9.4H249v-2.1c-1.1,1.6-3.3,2.5-5.2,2.5c-3.3,0-5.7-1.9-5.7-5c0-3.1,2.8-5.2,6.2-5.2
		c1.5,0,3.2,0.3,4.7,0.8v-0.5c0-2-0.9-4-4-4c-1.5,0-3,0.6-4.4,1.3l-1.1-2.2c2.2-1.1,4.2-1.6,5.9-1.6
		C249.6,461,251.9,463.7,251.9,467.5z M249,472V470c-1.3-0.4-2.7-0.6-4.2-0.6c-2.1,0-3.8,1.2-3.8,2.8s1.5,2.7,3.4,2.7
		C246.3,474.9,248.5,473.9,249,472z"/>
                <path class="st1" d="M254.4,455.9h2.9v21h-2.9V455.9z"/>
            </g>
            <a href="{{path('the template',{'id': 6})}}"><g id="optimist">
                <path class="st7" d="M143.2,293.4c0,3.5-0.9,6.3-2.6,8.2s-4.3,2.9-7.6,2.9s-5.8-1-7.6-2.9s-2.6-4.6-2.6-8.2s0.9-6.3,2.6-8.2
		s4.3-2.8,7.6-2.8s5.8,0.9,7.6,2.8C142.4,287.1,143.2,289.9,143.2,293.4z M127.6,293.4c0,2.4,0.5,4.2,1.4,5.4s2.3,1.8,4.1,1.8
		c3.6,0,5.4-2.4,5.4-7.2c0-4.8-1.8-7.2-5.4-7.2c-1.8,0-3.2,0.6-4.1,1.8S127.6,291,127.6,293.4z"/>
                <path class="st7" d="M154.5,304.5c-1.9,0-3.4-0.7-4.5-2.1h-0.2c0.2,1.4,0.2,2.2,0.2,2.4v6.6h-4.5v-23.6h3.6l0.6,2.1h0.2
		c1-1.6,2.6-2.4,4.6-2.4c1.9,0,3.4,0.7,4.5,2.2s1.6,3.6,1.6,6.2c0,1.7-0.3,3.3-0.8,4.6c-0.5,1.3-1.2,2.3-2.2,2.9
		S155.8,304.5,154.5,304.5z M153.2,291.1c-1.1,0-1.9,0.3-2.4,1s-0.8,1.8-0.8,3.4v0.5c0,1.8,0.3,3,0.8,3.8c0.5,0.8,1.3,1.1,2.5,1.1
		c2,0,3-1.7,3-5c0-1.6-0.2-2.8-0.7-3.6C155,291.5,154.3,291.1,153.2,291.1z"/>
                <path class="st7" d="M169.6,300.9c0.8,0,1.7-0.2,2.8-0.5v3.3c-1.1,0.5-2.5,0.7-4.1,0.7c-1.8,0-3.1-0.5-3.9-1.4
		c-0.8-0.9-1.2-2.3-1.2-4.1v-7.9h-2.1v-1.9l2.5-1.5l1.3-3.5h2.9v3.5h4.6v3.4h-4.6v7.9c0,0.6,0.2,1.1,0.5,1.4
		C168.6,300.7,169,300.9,169.6,300.9z"/>
                <path class="st7" d="M173.8,283.6c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6s-1,0.6-1.8,0.6
		C174.6,285.7,173.8,285,173.8,283.6z M178.4,304.2h-4.5v-16.4h4.5V304.2z"/>
                <path class="st7" d="M196,304.2h-4.5v-9.6c0-1.2-0.2-2.1-0.6-2.7c-0.4-0.6-1-0.9-1.9-0.9c-1.1,0-2,0.4-2.5,1.3s-0.8,2.2-0.8,4.1
		v7.7h-4.5v-16.4h3.4l0.6,2.1h0.2c0.4-0.8,1.1-1.3,1.9-1.8s1.8-0.6,2.9-0.6c2.5,0,4.1,0.8,5,2.4h0.4c0.4-0.8,1.1-1.4,1.9-1.8
		s1.8-0.6,2.9-0.6c1.9,0,3.3,0.5,4.2,1.4c1,1,1.4,2.5,1.4,4.6v10.7h-4.5v-9.6c0-1.2-0.2-2.1-0.6-2.7c-0.4-0.6-1-0.9-1.9-0.9
		c-1.1,0-1.9,0.4-2.5,1.2c-0.5,0.8-0.8,2-0.8,3.7V304.2z"/>
                <path class="st7" d="M208.8,283.6c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6s-1,0.6-1.8,0.6
		C209.6,285.7,208.8,285,208.8,283.6z M213.4,304.2H209v-16.4h4.5V304.2z"/>
                <path class="st7" d="M227.7,299.3c0,1.7-0.6,3-1.8,3.8c-1.2,0.9-2.9,1.3-5.2,1.3c-1.2,0-2.2-0.1-3-0.2s-1.6-0.4-2.4-0.7v-3.7
		c0.8,0.4,1.8,0.7,2.8,1c1,0.3,2,0.4,2.7,0.4c1.6,0,2.4-0.5,2.4-1.4c0-0.4-0.1-0.6-0.3-0.9s-0.6-0.5-1.1-0.7s-1.2-0.6-2.1-1
		c-1.3-0.5-2.2-1-2.8-1.5s-1-1-1.3-1.5s-0.4-1.3-0.4-2.1c0-1.5,0.6-2.6,1.7-3.4c1.1-0.8,2.7-1.2,4.8-1.2c2,0,3.9,0.4,5.8,1.3
		l-1.3,3.2c-0.8-0.4-1.6-0.6-2.3-0.9s-1.4-0.3-2.2-0.3c-1.3,0-2,0.4-2,1.1c0,0.4,0.2,0.7,0.6,1c0.4,0.3,1.4,0.7,2.8,1.3
		c1.3,0.5,2.2,1,2.8,1.5s1,1,1.3,1.6S227.7,298.5,227.7,299.3z"/>
                <path class="st7" d="M236.3,300.9c0.8,0,1.7-0.2,2.8-0.5v3.3c-1.1,0.5-2.5,0.7-4.1,0.7c-1.8,0-3.1-0.5-3.9-1.4
		c-0.8-0.9-1.2-2.3-1.2-4.1v-7.9h-2.1v-1.9l2.5-1.5l1.3-3.5h2.9v3.5h4.6v3.4h-4.6v7.9c0,0.6,0.2,1.1,0.5,1.4
		C235.3,300.7,235.7,300.9,236.3,300.9z"/>
            </g></a>
            <g id="entertaining">
                <path class="st1" d="M115.2,262.4v5.9h10.9v2.8h-10.9v6.3h12.1v2.8h-15.1v-20.6h15.1v2.8H115.2z"/>
                <path class="st1" d="M143,270.3v9.9H140v-9.4c0-2.3-1.5-3.9-3.6-3.9c-2.2,0-4,1.4-4.3,3.2v10h-3v-15.5h3v2.3
		c0.9-1.5,2.8-2.6,4.9-2.6C140.6,264.3,143,266.8,143,270.3z"/>
                <path class="st1" d="M153.8,279.4c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7
		v8.9c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L153.8,279.4z"/>
                <path class="st1" d="M166.5,276.2l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,5,4.4C163.7,277.9,165.6,277.2,166.5,276.2z M157.2,271.1h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C159.6,266.9,157.7,268.6,157.2,271.1z"/>
                <path class="st1" d="M179.9,264.3v2.6c-3.2,0-5.5,1.8-5.8,4.5v8.8h-3v-15.5h3v3C175.1,265.6,177.2,264.3,179.9,264.3z"/>
                <path class="st1" d="M189.3,279.4c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7
		v8.9c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L189.3,279.4z"/>
                <path class="st1" d="M203.6,270.8v9.4h-2.9V278c-1.1,1.6-3.3,2.5-5.2,2.5c-3.3,0-5.7-1.9-5.7-4.9c0-3.1,2.8-5.2,6.2-5.2
		c1.5,0,3.2,0.3,4.7,0.8v-0.5c0-1.9-0.9-4-4-4c-1.5,0-3,0.6-4.4,1.3l-1.1-2.2c2.2-1.1,4.2-1.6,5.9-1.6
		C201.2,264.3,203.6,266.9,203.6,270.8z M200.6,275.3v-2.1c-1.3-0.4-2.7-0.6-4.2-0.6c-2.1,0-3.8,1.2-3.8,2.9c0,1.7,1.5,2.7,3.4,2.7
		C198,278.2,200.1,277.2,200.6,275.3z"/>
                <path class="st1" d="M205.7,260.3c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8
		C206.5,262.1,205.7,261.2,205.7,260.3z M206,264.7h3v15.5h-3V264.7z"/>
                <path class="st1" d="M225.2,270.3v9.9h-2.9v-9.4c0-2.3-1.5-3.9-3.6-3.9c-2.2,0-4,1.4-4.3,3.2v10h-3v-15.5h3v2.3
		c0.9-1.5,2.8-2.6,4.9-2.6C222.8,264.3,225.2,266.8,225.2,270.3z"/>
                <path class="st1" d="M227.3,260.3c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8
		C228.1,262.1,227.3,261.2,227.3,260.3z M227.6,264.7h3v15.5h-3V264.7z"/>
                <path class="st1" d="M246.8,270.3v9.9h-2.9v-9.4c0-2.3-1.5-3.9-3.6-3.9c-2.2,0-4,1.4-4.3,3.2v10h-3v-15.5h3v2.3
		c0.9-1.5,2.8-2.6,4.9-2.6C244.4,264.3,246.8,266.8,246.8,270.3z"/>
                <path class="st1" d="M264,264.7v13.9c0,4-3.3,6.8-7.9,6.8c-2.6,0-5-0.9-6.5-2.1l1.2-2.2c1.1,1.1,3,1.7,4.9,1.7
		c3.3,0,5.3-1.6,5.3-4.3v-2.3c-1.2,1.8-3.1,2.8-5.5,2.8c-4.1,0-7-3.1-7-7.4s3-7.3,7-7.3c2.3,0,4.3,1.1,5.5,2.8v-2.5H264z M261,271.6
		c0-2.8-2-4.8-4.7-4.8s-4.7,2-4.7,4.8c0,2.8,2,4.8,4.7,4.8S261,274.5,261,271.6z"/>
            </g>
            <a href="{{path('the template',{'id': 7})}}"><g id="challenger">
                <path class="st8" d="M173.1,133.9c-1.7,0-3,0.6-4,1.9s-1.4,3.1-1.4,5.4c0,4.8,1.8,7.2,5.4,7.2c1.5,0,3.3-0.4,5.5-1.1v3.8
		c-1.8,0.7-3.7,1.1-5.9,1.1c-3.1,0-5.5-0.9-7.1-2.8s-2.5-4.6-2.5-8.1c0-2.2,0.4-4.2,1.2-5.9s2-3,3.5-3.9c1.5-0.9,3.3-1.3,5.3-1.3
		c2.1,0,4.2,0.5,6.3,1.5l-1.5,3.7c-0.8-0.4-1.6-0.7-2.4-1S173.9,133.9,173.1,133.9z"/>
                <path class="st8" d="M196.1,151.9h-4.5v-9.6c0-2.4-0.9-3.5-2.6-3.5c-1.3,0-2.2,0.4-2.7,1.3s-0.8,2.2-0.8,4.1v7.7H181v-22.8h4.5v4.6
		c0,0.4,0,1.2-0.1,2.5l-0.1,1.3h0.2c1-1.6,2.6-2.4,4.7-2.4c1.9,0,3.4,0.5,4.4,1.6s1.5,2.5,1.5,4.5V151.9z"/>
                <path class="st8" d="M209.3,151.9l-0.9-2.2h-0.1c-0.8,0.9-1.5,1.6-2.3,2c-0.8,0.4-1.8,0.5-3.1,0.5c-1.6,0-2.8-0.4-3.7-1.3
		c-0.9-0.9-1.4-2.2-1.4-3.8c0-1.7,0.6-3,1.8-3.8c1.2-0.8,3-1.3,5.5-1.4l2.8-0.1v-0.7c0-1.7-0.8-2.5-2.5-2.5c-1.3,0-2.8,0.4-4.6,1.2
		l-1.5-3c1.9-1,4-1.5,6.3-1.5c2.2,0,3.9,0.5,5.1,1.4s1.8,2.4,1.8,4.4v10.9H209.3z M208,144.3l-1.7,0.1c-1.3,0-2.3,0.3-2.9,0.7
		s-1,1.1-1,2c0,1.3,0.7,1.9,2.2,1.9c1,0,1.9-0.3,2.5-0.9c0.6-0.6,0.9-1.4,0.9-2.4V144.3z"/>
                <path class="st8" d="M219.7,151.9h-4.5v-22.8h4.5V151.9z"/>
                <path class="st8" d="M227,151.9h-4.5v-22.8h4.5V151.9z"/>
                <path class="st8" d="M237.3,152.1c-2.6,0-4.7-0.7-6.2-2.2s-2.2-3.5-2.2-6.2c0-2.7,0.7-4.9,2.1-6.4c1.4-1.5,3.3-2.2,5.7-2.2
		c2.3,0,4.1,0.7,5.4,2s1.9,3.1,1.9,5.5v2.2h-10.6c0,1.3,0.4,2.3,1.1,3s1.7,1.1,3,1.1c1,0,1.9-0.1,2.8-0.3s1.8-0.5,2.8-1v3.5
		c-0.8,0.4-1.6,0.7-2.5,0.9S238.6,152.1,237.3,152.1z M236.7,138.3c-0.9,0-1.7,0.3-2.2,0.9s-0.8,1.5-0.9,2.6h6.3
		c0-1.1-0.3-2-0.9-2.6S237.6,138.3,236.7,138.3z"/>
                <path class="st8" d="M261,151.9h-4.5v-9.6c0-1.2-0.2-2.1-0.6-2.7s-1.1-0.9-2-0.9c-1.3,0-2.2,0.4-2.7,1.3s-0.8,2.2-0.8,4.2v7.7h-4.5
		v-16.4h3.4l0.6,2.1h0.2c0.5-0.8,1.2-1.4,2.1-1.8s1.9-0.6,3-0.6c1.9,0,3.3,0.5,4.3,1.5s1.5,2.5,1.5,4.5V151.9z"/>
                <path class="st8" d="M278,135.5v2.3l-2.6,0.7c0.5,0.7,0.7,1.6,0.7,2.5c0,1.8-0.6,3.1-1.8,4.1c-1.2,1-2.9,1.5-5.1,1.5l-0.8,0
		l-0.7-0.1c-0.5,0.4-0.7,0.7-0.7,1.2c0,0.6,0.8,1,2.5,1h2.8c1.8,0,3.2,0.4,4.1,1.2s1.4,1.9,1.4,3.4c0,1.9-0.8,3.4-2.4,4.5
		c-1.6,1.1-3.9,1.6-6.9,1.6c-2.3,0-4-0.4-5.2-1.2s-1.8-1.9-1.8-3.3c0-1,0.3-1.8,0.9-2.5s1.5-1.1,2.7-1.4c-0.5-0.2-0.9-0.5-1.2-1
		s-0.5-0.9-0.5-1.4c0-0.6,0.2-1.1,0.5-1.6s0.9-0.8,1.6-1.2c-0.9-0.4-1.5-1-2-1.8s-0.8-1.8-0.8-2.9c0-1.8,0.6-3.2,1.7-4.1
		s2.8-1.5,5-1.5c0.5,0,1,0,1.6,0.1c0.6,0.1,1,0.1,1.2,0.2H278z M265.4,154.2c0,0.6,0.3,1.1,0.9,1.5c0.6,0.4,1.4,0.5,2.5,0.5
		c1.6,0,2.9-0.2,3.8-0.7s1.4-1,1.4-1.8c0-0.6-0.3-1-0.8-1.3s-1.4-0.4-2.5-0.4h-2.3c-0.8,0-1.5,0.2-2.1,0.6
		C265.6,153,265.4,153.5,265.4,154.2z M267,140.8c0,0.9,0.2,1.6,0.6,2.1c0.4,0.5,1,0.8,1.9,0.8c0.8,0,1.5-0.3,1.8-0.8
		s0.6-1.2,0.6-2.1c0-2-0.8-3-2.4-3C267.8,137.9,267,138.9,267,140.8z"/>
                <path class="st8" d="M286.3,152.1c-2.6,0-4.7-0.7-6.2-2.2s-2.2-3.5-2.2-6.2c0-2.7,0.7-4.9,2.1-6.4c1.4-1.5,3.3-2.2,5.7-2.2
		c2.3,0,4.1,0.7,5.4,2s1.9,3.1,1.9,5.5v2.2h-10.6c0,1.3,0.4,2.3,1.1,3s1.7,1.1,3,1.1c1,0,1.9-0.1,2.8-0.3s1.8-0.5,2.8-1v3.5
		c-0.8,0.4-1.6,0.7-2.5,0.9S287.6,152.1,286.3,152.1z M285.7,138.3c-0.9,0-1.7,0.3-2.2,0.9s-0.8,1.5-0.9,2.6h6.3
		c0-1.1-0.3-2-0.9-2.6S286.6,138.3,285.7,138.3z"/>
                <path class="st8" d="M304,135.2c0.6,0,1.1,0,1.5,0.1l-0.3,4.2c-0.4-0.1-0.8-0.1-1.3-0.1c-1.4,0-2.5,0.4-3.3,1.1
		c-0.8,0.7-1.2,1.8-1.2,3.1v8.3h-4.5v-16.4h3.4l0.7,2.8h0.2c0.5-0.9,1.2-1.7,2.1-2.2C302,135.4,303,135.2,304,135.2z"/>
            </g></a>
            <g id="protective">
                <path class="st1" d="M167.4,105.3h8.7c4.3,0,7.6,2.8,7.6,6.7c0,3.9-3.3,6.7-7.6,6.7h-5.6v7.2h-3V105.3z M175.6,115.9
		c3,0,5-1.5,5-3.9c0-2.4-2-3.9-5-3.9h-5.2v7.8H175.6z"/>
                <path class="st1" d="M193.8,110v2.6c-3.2,0-5.5,1.8-5.8,4.5v8.8h-3v-15.5h3v3C189.1,111.3,191.2,110,193.8,110z"/>
                <path class="st1" d="M193.6,118.1c0-4.4,3.7-8.1,8.2-8.1c4.4,0,8.1,3.7,8.1,8.1c0,4.4-3.7,8.1-8.1,8.1
		C197.4,126.3,193.6,122.5,193.6,118.1z M207,118.1c0-3-2.4-5.5-5.2-5.5c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.4,5.5,5.2,5.5
		C204.6,123.7,207,121.2,207,118.1z"/>
                <path class="st1" d="M220,125.1c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7v8.9
		c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L220,125.1z"/>
                <path class="st1" d="M232.7,121.9l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,5,4.4C229.9,123.6,231.8,122.9,232.7,121.9z M223.4,116.8h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C225.8,112.7,223.9,114.3,223.4,116.8z"/>
                <path class="st1" d="M236.4,118.1c0-4.4,3.7-8.1,8.2-8.1c2.2,0,4.2,0.9,5.7,2.4l-2,1.9c-0.9-1.1-2.3-1.7-3.7-1.7
		c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.3,5.5,5.2,5.5c1.4,0,2.8-0.7,3.8-1.7l2,1.8c-1.5,1.5-3.5,2.5-5.8,2.5
		C240.1,126.3,236.4,122.5,236.4,118.1z"/>
                <path class="st1" d="M260.1,125.1c-0.8,0.7-2,1.1-3.1,1.1c-2.4,0-4.1-1.7-4.1-4.2v-9.1h-2.3v-2.5h2.3v-4.3h2.9v4.3h3.7v2.5h-3.7
		v8.9c0,1.1,0.7,1.9,1.6,1.9c0.7,0,1.3-0.2,1.6-0.6L260.1,125.1z"/>
                <path class="st1" d="M261,106c0-0.9,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8C261.7,107.8,261,107,261,106z
		 M261.3,110.4h3v15.5h-3V110.4z"/>
                <path class="st1" d="M265.2,110.4h3.2l4.8,12.1l4.7-12.1h3.2l-6.5,15.5h-2.8L265.2,110.4z"/>
                <path class="st1" d="M292.8,121.9l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,5,4.4C289.9,123.6,291.8,122.9,292.8,121.9z M283.4,116.8h9.3
		c-0.3-2.4-1.8-4.1-4.5-4.1C285.8,112.7,283.9,114.3,283.4,116.8z"/>
            </g>
            <a href="{{path('the template',{'id': 8})}}"><g id="mediator">
                <path class="st9" d="M469.5,74.5l-5.2-16.8h-0.1c0.2,3.4,0.3,5.7,0.3,6.8v10h-4.1V53.1h6.2l5.1,16.4h0.1l5.4-16.4h6.2v21.4h-4.2
		V64.4c0-0.5,0-1,0-1.7c0-0.6,0.1-2.3,0.2-5h-0.1l-5.5,16.8H469.5z"/>
                <path class="st9" d="M494,74.8c-2.6,0-4.7-0.7-6.2-2.2s-2.2-3.5-2.2-6.2c0-2.7,0.7-4.9,2.1-6.4c1.4-1.5,3.3-2.2,5.7-2.2
		c2.3,0,4.1,0.7,5.4,2s1.9,3.1,1.9,5.5v2.2h-10.6c0,1.3,0.4,2.3,1.1,3s1.7,1.1,3,1.1c1,0,1.9-0.1,2.8-0.3s1.8-0.5,2.8-1v3.5
		c-0.8,0.4-1.6,0.7-2.5,0.9S495.2,74.8,494,74.8z M493.3,61c-0.9,0-1.7,0.3-2.2,0.9s-0.8,1.5-0.9,2.6h6.3c0-1.1-0.3-2-0.9-2.6
		S494.3,61,493.3,61z"/>
                <path class="st9" d="M507.6,74.8c-1.9,0-3.4-0.7-4.5-2.2c-1.1-1.5-1.6-3.6-1.6-6.2c0-2.7,0.6-4.8,1.7-6.3c1.1-1.5,2.7-2.2,4.6-2.2
		c2.1,0,3.6,0.8,4.7,2.4h0.1c-0.2-1.2-0.3-2.3-0.3-3.3v-5.2h4.5v22.8h-3.4l-0.9-2.1h-0.2C511.3,74,509.7,74.8,507.6,74.8z
		 M509.2,71.2c1.1,0,2-0.3,2.5-1c0.5-0.7,0.8-1.8,0.9-3.4v-0.5c0-1.8-0.3-3-0.8-3.8c-0.5-0.8-1.4-1.1-2.6-1.1c-1,0-1.8,0.4-2.3,1.3
		s-0.8,2.1-0.8,3.7s0.3,2.8,0.8,3.6S508.2,71.2,509.2,71.2z"/>
                <path class="st9" d="M519.5,53.9c0-1.5,0.8-2.2,2.4-2.2s2.4,0.7,2.4,2.2c0,0.7-0.2,1.2-0.6,1.6s-1,0.6-1.8,0.6
		C520.3,56.1,519.5,55.4,519.5,53.9z M524.1,74.5h-4.5V58.1h4.5V74.5z"/>
                <path class="st9" d="M537.4,74.5l-0.9-2.2h-0.1c-0.8,0.9-1.5,1.6-2.3,2c-0.8,0.4-1.8,0.5-3.1,0.5c-1.6,0-2.8-0.4-3.7-1.3
		c-0.9-0.9-1.4-2.2-1.4-3.8c0-1.7,0.6-3,1.8-3.8c1.2-0.8,3-1.3,5.5-1.4l2.8-0.1v-0.7c0-1.7-0.8-2.5-2.5-2.5c-1.3,0-2.8,0.4-4.6,1.2
		l-1.5-3c1.9-1,4-1.5,6.3-1.5c2.2,0,3.9,0.5,5.1,1.4s1.8,2.4,1.8,4.4v10.9H537.4z M536.1,66.9l-1.7,0.1c-1.3,0-2.3,0.3-2.9,0.7
		s-1,1.1-1,2c0,1.3,0.7,1.9,2.2,1.9c1,0,1.9-0.3,2.5-0.9c0.6-0.6,0.9-1.4,0.9-2.4V66.9z"/>
                <path class="st9" d="M550.2,71.2c0.8,0,1.7-0.2,2.8-0.5v3.3c-1.1,0.5-2.5,0.7-4.1,0.7c-1.8,0-3.1-0.5-3.9-1.4
		c-0.8-0.9-1.2-2.3-1.2-4.1v-7.9h-2.1v-1.9l2.5-1.5l1.3-3.5h2.9v3.5h4.6v3.4h-4.6v7.9c0,0.6,0.2,1.1,0.5,1.4
		C549.2,71.1,549.6,71.2,550.2,71.2z"/>
                <path class="st9" d="M569.4,66.3c0,2.7-0.7,4.8-2.1,6.3s-3.4,2.3-5.9,2.3c-1.6,0-3-0.3-4.2-1s-2.1-1.7-2.8-3s-1-2.8-1-4.5
		c0-2.7,0.7-4.8,2.1-6.2s3.4-2.2,5.9-2.2c1.6,0,3,0.3,4.2,1s2.1,1.7,2.8,2.9S569.4,64.6,569.4,66.3z M558.1,66.3
		c0,1.6,0.3,2.8,0.8,3.7s1.4,1.2,2.6,1.2c1.2,0,2-0.4,2.6-1.2c0.5-0.8,0.8-2.1,0.8-3.7c0-1.6-0.3-2.8-0.8-3.6s-1.4-1.2-2.6-1.2
		c-1.2,0-2.1,0.4-2.6,1.2S558.1,64.7,558.1,66.3z"/>
                <path class="st9" d="M580.5,57.8c0.6,0,1.1,0,1.5,0.1l-0.3,4.2c-0.4-0.1-0.8-0.1-1.3-0.1c-1.4,0-2.5,0.4-3.3,1.1
		c-0.8,0.7-1.2,1.8-1.2,3.1v8.3h-4.5V58.1h3.4l0.7,2.8h0.2c0.5-0.9,1.2-1.7,2.1-2.2C578.5,58.1,579.4,57.8,580.5,57.8z"/>
            </g></a>
            <g id="peaceful">
                <path class="st1" d="M467.3,28.6h8.7c4.3,0,7.6,2.8,7.6,6.7c0,3.9-3.3,6.7-7.6,6.7h-5.6v7.2h-3V28.6z M475.5,39.3c3,0,5-1.5,5-3.9
		c0-2.4-2-3.9-5-3.9h-5.2v7.8H475.5z"/>
                <path class="st1" d="M496.4,45.3l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1H487c0.4,2.6,2.3,4.4,4.9,4.4C493.6,47,495.5,46.3,496.4,45.3z M487.1,40.2h9.3c-0.3-2.4-1.8-4.1-4.5-4.1
		C489.5,36,487.5,37.6,487.1,40.2z"/>
                <path class="st1" d="M513.9,39.9v9.4H511v-2.1c-1.1,1.6-3.3,2.5-5.2,2.5c-3.3,0-5.7-1.9-5.7-4.9c0-3.1,2.8-5.2,6.2-5.2
		c1.5,0,3.2,0.3,4.7,0.8v-0.5c0-1.9-0.9-4-4-4c-1.5,0-3,0.6-4.4,1.3l-1.1-2.2c2.2-1.1,4.2-1.6,5.9-1.6
		C511.6,33.4,513.9,36,513.9,39.9z M511,44.4v-2.1c-1.3-0.4-2.7-0.6-4.2-0.6c-2.1,0-3.8,1.2-3.8,2.9c0,1.7,1.5,2.7,3.4,2.7
		C508.3,47.3,510.5,46.3,511,44.4z"/>
                <path class="st1" d="M515.5,41.5c0-4.4,3.7-8.1,8.2-8.1c2.2,0,4.2,0.9,5.7,2.4l-2,1.9c-0.9-1.1-2.3-1.7-3.7-1.7
		c-2.8,0-5.2,2.5-5.2,5.5c0,3,2.3,5.5,5.2,5.5c1.4,0,2.8-0.7,3.8-1.7l2,1.8c-1.5,1.5-3.5,2.5-5.8,2.5
		C519.3,49.6,515.5,45.9,515.5,41.5z"/>
                <path class="st1" d="M542.4,45.3l1.9,1.9c-1.4,1.5-4.1,2.4-6.3,2.4c-4.3,0-8-3.4-8-8.2c0-4.6,3.4-8.1,7.7-8.1
		c4.7,0,7.5,3.6,7.5,9.1h-12.2c0.4,2.6,2.3,4.4,5,4.4C539.6,47,541.5,46.3,542.4,45.3z M533.1,40.2h9.3c-0.3-2.4-1.8-4.1-4.5-4.1
		C535.5,36,533.6,37.6,533.1,40.2z"/>
                <path class="st1" d="M551,33.7h3.7v2.5H551v13h-2.9v-13h-2.3v-2.5h2.3v-1.9c0-2.5,1.7-4.2,4.1-4.2c1.1,0,2.2,0.4,3.1,1.1l-1.1,2
		c-0.3-0.3-0.9-0.6-1.6-0.6c-0.9,0-1.6,0.8-1.6,1.9V33.7z"/>
                <path class="st1" d="M569.6,33.7v15.5h-3V47c-0.9,1.5-2.8,2.6-4.9,2.6c-3.4,0-5.8-2.5-5.8-6v-9.9h2.9v9.4c0,2.3,1.5,3.9,3.6,3.9
		c2.2,0,4-1.4,4.3-3.2v-10H569.6z"/>
                <path class="st1" d="M572.1,28.3h2.9v21h-2.9V28.3z"/>
            </g>
</svg>
    </div>
</section>
<!-- Pricing section  -->

<!-- includingFooter section  -->
    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ asset('js/carousel/script.js') }}"></script>
{% endblock %}